
.icon-container i {
    font-size: 3em;
    margin-bottom: 10px;
}

#icon-cont{
    margin: 0px;
    padding: 0px;
    width: 70px;
    cursor: pointer;
} 

#container{
    width: 60%;
    margin-bottom: 5px;
    box-shadow: 1px 2px 2px rgb(0 0 0 / 30%);
    display: grid;
    grid-template-columns:200px 250px;
    gap: 7px;
}

#elemento{
    color: black;
    font-size: 28px;
}

#div-container{
    margin: 0px;
    display: grid;
    grid-template-columns:repeat(3,70px) ;
    gap: 6px;
}
